body { padding-top: 70px; }

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.jumbotron {
    margin-bottom: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.product-image {
    width: 400px;
    height: 400px;
}

.hidden {
    display: none !important;
}

.css_not_available_msg {
    display:none;
}

.css_non_editable_mode_hidden {
    display: none !important;
}

.border-inset {
    border: inset;
}

